docs/export_schemas/xml/languages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="languagesReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="report" type="xs:string" fixed="languages"/>
        <xs:element name="generated_at" type="xs:dateTime"/>
        <xs:element name="repo_path" type="xs:string"/>
        <xs:element name="metric" type="xs:string"/>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="bytes" type="xs:int" minOccurs="0"/>
                    <xs:element name="files" type="xs:int" minOccurs="0"/>
                    <xs:element name="loc" type="xs:int" minOccurs="0"/>
                    <xs:element name="percent" type="xs:double"/>
                    <xs:element name="color" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
