docs/export_schemas/xml/ownership.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ownershipReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="report" type="xs:string" fixed="ownership"/>
        <xs:element name="generated_at" type="xs:dateTime"/>
        <xs:element name="repo_path" type="xs:string"/>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="path" type="xs:string"/>
                    <xs:element name="owner" type="xs:string"/>
                    <xs:element name="owner_share" type="xs:double"/>
                    <xs:element name="authors" type="xs:int"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
